<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    
    
    <bean id="dev" class="com.springcore.developer">
    <property name="devName" value="priya"></property>
    <property name="lap" ref="lap2"></property>
    </bean>
    
    <bean  id="lap2" class="com.springcore.laptop"></bean>
    
    
</beans>